
###> symfony/framework-bundle ###
/.env.local
/.env
/.env.dev
/.env.local.php
/.env.*.local
/.idea
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/config/tmssync.yml
/files
###< symfony/framework-bundle ###
